/* p
{
    position:static;
} */
div
{   display:inline-block;
    width:200px;
    height:200px;
    background-color:aqua;
    border:1px solid black;


}
.box3
{
    position:relative;
    top:100px;
    left:50px;
}
/* .box1{
    position:fixed
} */
.wrapper
{
    height:1000px;
    width:100vw;
    background-color: yellowgreen;
}